@white: #ffffff;
@turquoise: #2DBECD;
@yellow: #FFC832;
@violet: #503291;
@blue: #0F69AF;
@pink: #EB3C96;


html, body {
	height: 100%;
}
html{
	font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: @violet;
  text-align: left;
}
.main-width {
	max-width: 1136px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.clearfix:after {
	content: " ";
	display: table;
	width: 100%;
	clear: both;
}
img{
	margin: auto;
	max-width: 100%;
	display: block;
	height: auto;
}

.bg-turquoise{
	background-color: @turquoise;
}
.main-section{
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	/*padding: 158px 0 208px;*/
	padding: 75px 0 75px;
	h2{
		margin-bottom: 54px;
	}
}
.main-section-content{
	padding: 80px 55px 80px 0;
	min-height: 490px;
}
.main-section-block{
    position: absolute;
    top: 50%;
    margin-top: -248px;
    left: 54%;
    max-width: 46%;
    width: 585px;
}
.accordeon{
	font-size: 12px;
	padding: 0 62px 28px;
	position: relative;
	border-radius: 0 15px 15px 15px;
	&:nth-child(2n){
		background-color: rgba(45, 190, 205, 0.05);
	}
	&.opened{
		background-color: @blue;
		
		color: @white;
	}
	&.closed{

	}
}
.accordeon-block{
	max-width: 780px;
	padding-top: 60px;
	padding-bottom: 52px;
}
.accordeon-btn{
	position: absolute;
	top: 32px;
	right: 64px;
	width: 18px;
	height: 18px;
	background-image: url(../images/close.svg);
	cursor: pointer;
}
.accordeon-button{
	position: absolute;
	top: 34px;
	right: 12px;
	width: 22px;
	height: 22px;
	background-image: url(../images/open.svg);
	cursor: pointer;
}
.audio-icon{
	width: 100px;
	height: 100px;
	background-image: url(../images/play.svg);
	float: left;
	margin-top: 26px;
}
.audio-text{
	margin-left: 154px;
	h6{
		display: block;
		margin-bottom: 0;
		color: @violet;
	}
	h3{
		font-weight: 700;
		margin-bottom: 18px;
	}
}
.user{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	float: left;
}
.user-text{
	margin-left: 120px;
	a{
		font-weight: 700;
		color: @yellow;
		text-decoration: none;
		margin-left: 3px;
		&:hover{
			text-decoration: underline;
		}
	}
	h4{
		font-weight: 700;
		color: @turquoise;
		margin-bottom: 19px;
	}

}
.links{
	text-align: right;
	padding: 30px 46px 10px 0;
	ul{
		list-style: none;
		display: inline-block;
	}
	font-weight: 700;
	font-size: 14px;
	li{
		float: left;
		margin-left: 19px;
	}
	a{
		color: @white;
		text-decoration: none;
		.transition(0.2s);
		svg{
			fill: @white;
			width: 27px;
			height: 27px;
			margin-right: 2px;
		}
		&:hover, &.active{
			color: @turquoise;
			svg{
				fill: @turquoise;
			}
		}
	}


}
@media (max-width: 767px) {
	.main-section-content {
		padding: 80px 0 20px;
		min-height: 100px;
	}
	.main-section {
		padding: 0 0 60px;
	}
	.main-section-block {
		max-width: 200px;
		position: static;
		margin: auto;
	}
	.main-section h2 {
		font-size: 24px;
	    margin-bottom: 30px;
	}
}	

